*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
}

body {
    height: 100vh;
=======
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #f5f5f5;
>>>>>>> 3a96f1696a5085d90165b5f73d497e4ac87b7132
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    flex-direction: column;
    align-items: center;
    min-height: none;
    text-align: center;
    gap: 5px;
    background: linear-gradient(90deg, rgb(124, 136, 58) 0%, rgba(76, 129, 51, 0.952) 100%);
=======
    align-items: center;
    min-height: 720px;
    text-align: center;
>>>>>>> 3a96f1696a5085d90165b5f73d497e4ac87b7132
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
<<<<<<< HEAD
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


button {
    background-color: #a6aa3e;
    color: #fff;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: none;
    gap: 2px;
=======
}

button {
    background-color: #a6aa3e;
    color: #fff;
    border: none;
>>>>>>> 3a96f1696a5085d90165b5f73d497e4ac87b7132
    padding: 12px 24px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:active {
    background-color: #f8f8ff;
    color: #a6aa3e;
<<<<<<< HEAD
}


#questoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#respostas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#menu {
    background-color: rgb(214, 236, 84);
    padding: 50px;
    border-radius: 10px;
    gap: 2px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#jogo {
    background-color: rgb(214, 236, 84);
    padding: 70px;
    border-radius: 10px;
    gap: 2px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#lose {
    background-color: rgb(214, 236, 84);
    padding: 50px;
    border-radius: 10px;
    gap: 2px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#rules {
    background-color: rgb(214, 236, 84);
    padding: 50px;
    border-radius: 10px;
    gap: 2px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#tutorial {
    background-color: rgb(214, 236, 84);
    padding: 50px;
    border-radius: 10px;
    gap: 2px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#win {
    background-color: rgb(214, 236, 84);
    padding: 50px;
    border-radius: 10px;
    gap: 2px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
=======
>>>>>>> 3a96f1696a5085d90165b5f73d497e4ac87b7132
}